body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}


.in{
  background-image: url('img/banner.jpeg');
  min-height: 30vh;
  min-width: 30vw;
  background-size: cover;
}
.header{
  background-color: #3a57af;
  height: 80px;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link{
  color:white;
  text-decoration: none;
}

.Mascota{
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover{
  background-color:#2e458b;
  transition: 0.5s;
}

.texto{
  width: 500px;
  height: 100px;
  margin: 200px 70px 70px 200px;

}
